{
  "overrides": [
    {
      "files": ["src/**/*.js"],
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": ["tests/**/*.js"],
      "options": {
        "tabWidth": 2,
        "printWidth": 10000000
      }
    }
  ]
}
